<div class="index-banner swiper-container">
    <div class="swiper-wrapper">
        {{#each data}}
        <div class="swiper-slide">
            <a href="page/details.html?id={{reference_id}}">
                <img src="{{ad_pic_url}}" title="{{ad_name}}">
            </a>
        </div>
        {{/each}}
    </div>
</div>
<div class="nav">
    <ul>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p015iBxwdkmU/5wc5uzYhLZ7iVa.png" alt="">
            <span>限免</span>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p01LWZmXGCpy/aSrSq6Llgt9PqE.png" alt="">
            <span>女生</span>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01NVfuCskSL/W9VPXMnDunLwGT.png" alt="">
            <span>男生</span>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p01pz5NtyRI0/2ENONnvOg23NXM.png" alt="">
            <span>分类</span>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p010kK7M5VyH/8kPz9nKvRXyu1k.png" alt="">
            <span>排行</span>
        </li>
    </ul>
</div>